body{background-image:url(haikei9.jpg) ;
    background-size: cover;               /* 全画面 */
    background-attachment: fixed;         /* 固定 */
    background-position: center center;   /* 縦横中央 */
    background-color: rgba(58, 155, 139, 0.61);
    background-blend-mode: lighten;
}
h1{font-size: 500%;
color:orange;
-webkit-text-stroke: 3px #000;
}
input{font-size: 300%;}
.hinto{font-size: 300%;
color: orangered;
-webkit-text-stroke: 1px rgb(0, 0, 0);
}

.clicktxt {
    color:#ffffff;
    background-color: #4169e1;
    padding:15px;
    border-radius: 10px;
    font-size: 150%;
    }
    
    .switchdsp input {
    display: none;
    }
    
    .switchdsp .dsp {
    padding: 0px 10px 0px 10px;
    height: 0;
    overflow: hidden;
    transition: 0.9s;
    opacity: 0;
    }
    
    .switchdsp input:checked ~ .dsp {
    padding: 0px 25px 0px 25px;
    height: auto;
    opacity: 1;
    
    }
