body {
    background-image: url('Abstract - 26011.mp4');
    background-size: cover;               /* 全画面 */
  background-attachment: fixed;         /* 固定 */
  background-position: center center;   /* 縦横中央 */
  background-image: url('rogo.jpg');
  background-color: rgba(255, 255, 255, 0.74);
    background-blend-mode: lighten;
}

h1 {
    font-family: "Impact";
    text-align: center;
    font-size: 100px;
}

h2 {
    font-family: "";
    text-align: center;
    font-size: 70px;
}

h3 {
    text-align: center;
    font-family: "Toppan Bunkyu Gothic", "凸版文久ゴシック";
    font-size: 25px;
}

input{font-size: 300%;}
/*p {
    font-family: "Impact";
    color: rgb(25, 22, 22);
    font-size: 20px;
    text-align: center;
}*/


.password{font-size: 100%;
    border: 2px solid rgb(0, 0, 0);  /* 枠線 */
        border-radius: 0.67em;/* 角丸*/
    padding: 0.5em;          /* 内側の余白量 */
    background-color: rgb(253, 253, 253);  /* 背景色 */
    width: 230px;             /* 横幅 */
    height: 85px;           /* 高さ */
    font-size: 1em;          /* 文字サイズ */
    line-height: 1.2;        /* 行の高さ */
}
.password1{position: fixed;
    top: 1270px;
    font-size: 200%;}
.password2{position: fixed;
        top: 1390px;
        font-size: 200%;}  

.form{position: fixed;
      font-size: 300%;
      top: 260px;
      color: rgb(0, 0, 0);
}        
.form0{position: fixed;
       font-size: 280%;
       top: 430px;}
.form1{position: fixed;
       font-size: 300%;
       top: 430px;
       left:620px;}

.password{position: fixed;
          top: 410px;
          left:250px;}        
#page {
    text-align: center;
    font-size: 20px;
}

#expretion {
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    background-color: rgb(242, 255, 157);
}

#switch {
    position: absolute;
    left: 645px;
    bottom: 385px;
}

#ps {
    display: inline;
    position: relative;
    left: 10px;
    top: 0px;
}

#official {
    position: absolute;
    left: 190px;
    bottom: 150px;
}

#UE {
    position: absolute;
    left: 50px;
    top: 400px;
    width: 350px;
    background-color: rgb(240, 240, 240);
}

#Unity {
    position: absolute;
    left: 575px;
    top: 400px;
    width: 350px;
    background-color: rgb(240, 240, 240);
}

#jump {
    position: absolute;
    left: 180px;
    top: 500px;
}

#wolfpic {
    width: 150px;
    background-color: white;
}

#wolf {
    position: absolute;
    left: 1100px;
    top: 400px;
    width: 350px;
    background-color: rgb(240, 240, 240);
}

#Unitypic {
    width: 150px;
    background-color: white;
}

#kosiki {
    position: absolute;
    left: 180px;
    top: 450px;
}

#sait {
    position: absolute;
    left: 190px;
    top: 500px;
}

#UEpic {
    width: 150px;
    background-color: white;
}

#bg-video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: 200px;
    height: 150px;
    z-index: -100;
    background: url('tumblr_n6kholb70q1sd011wo1_1280.gif') no-repeat;
    background-size: cover;
}

#anker {
    text-align: center;
    font-size: 30px;
}

#back {
    position: absolute;
    top: 1100px;
    left: 725px;
    text-align: center;
    font-size: 30px;
}

.header-title {
    position: relative;
    z-index: 2;
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
}

.php {
    font-size: 25px;
    position: absolute;
    left: 50px;
    top: 400px;
    width: 350px;
    background-color: rgb(250, 250, 250);
}